body {
    margin-top: 50px;
    margin-bottom: 50px;
}

.huge-name {
    font-weight: bold;
    font-size: 40px;
    margin: 0px;
}

.my-section {
    margin-top: 50px;
}

.section-heading {
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
    color: #2274E3;
    margin-bottom: 5px;
}